In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/03/02 16:41:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
print(f'Spark Version : {spark.version}')

Spark Version : 3.3.2

In [5]:
df = spark.read \
    .option("header", "true") \
    .csv('./data/fhv_tripdata_2019-10.csv')

In [6]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', StringType(), True), StructField('DOlocationID', StringType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [7]:
!head -n 1001 ./data/fhv_tripdata_2019-10.csv > head.csv

In [8]:
import pandas as pd

In [24]:
df_pandas = pd.read_csv('head.csv')

In [25]:
df_pandas.dtypes

dispatching_base_num       object
pickup_datetime            object
dropOff_datetime           object
PUlocationID              float64
DOlocationID              float64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [41]:
from pyspark.sql import types
from pyspark.sql.functions import *

In [47]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True),
])

In [48]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('./data/fhv_tripdata_2019-10.csv')

In [49]:
df = df.repartition(6)

In [51]:
df.write.mode('overwrite').parquet('./data/parquet')

In [52]:
df = spark.read.parquet('./data/parquet')

In [53]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [54]:
from pyspark.sql import functions as F

In [55]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02784|2019-10-01 09:55:38|2019-10-01 10:05:43|          89|          85|   null|                  null|
|              B01315|2019-10-05 15:13:04|2019-10-05 15:19:48|         264|          74|   null|                B01315|
|              B01984|2019-10-12 17:13:00|2019-10-12 17:40:00|         264|          75|   null|                B01984|
|              B00310|2019-10-15 10:55:04|2019-10-15 11:00:45|         264|         247|   null|                B03047|
|              B00932|2019-10-08 06:58:42|2019-10-08 07:11:11|         264|          37|   null|                B00932|
|              B01029|2019-10-10 14:45:00|2019-10-10 15:47:00|         264|         264|   null|                B01029|
|              B01087|2019-10-14 18:41:24|2019-10-14 19:02:06|         261|         186|   null|                B01087|
|              B03080|2019-10-05 14:49:10|2019-10-05 15:02:14|         264|          25|   null|                B02889|
|              B03160|2019-10-10 12:50:00|2019-10-10 13:34:00|          77|          77|   null|                B02882|
|              B02472|2019-10-16 14:12:36|2019-10-16 14:35:00|         264|         157|   null|                B02472|
|              B01051|2019-10-05 22:06:46|2019-10-05 22:16:57|         264|         182|   null|                B01051|
|              B02111|2019-10-08 14:58:52|2019-10-08 15:40:41|          98|          79|   null|                B02111|
|              B00254|2019-10-03 20:33:11|2019-10-03 21:52:16|         246|         265|   null|                B02356|
|              B00756|2019-10-16 10:58:00|2019-10-16 11:18:00|         264|         264|   null|                B00756|
|              B02249|2019-10-04 19:55:49|2019-10-04 20:08:25|         264|         192|   null|                B02249|
|              B03202|2019-10-13 07:39:33|2019-10-13 08:18:31|         264|         132|   null|                B03202|
|              B00419|2019-10-11 08:33:12|2019-10-11 08:46:22|         182|         185|   null|                B00419|
|              B02095|2019-10-09 11:16:00|2019-10-09 11:44:00|         264|         264|   null|                B02095|
|              B02930|2019-10-05 22:06:15|2019-10-05 22:25:31|         264|          69|   null|                B02930|
|              B01239|2019-10-07 20:08:15|2019-10-07 20:16:06|         264|          51|   null|                B02847|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [70]:
df.registerTempTable('trips_data')

In [71]:
spark.sql("""
SELECT
    count(*) AS total_trips
FROM
    trips_data
WHERE pickup_datetime BETWEEN '2019-10-15 00:00:00' AND '2019-10-15 23:59:59'
""").show()

+-----------+
|total_trips|
+-----------+
|      62610|
+-----------+

In [88]:
df.withColumn('DiffInSeconds',unix_timestamp("dropoff_datetime") - unix_timestamp('pickup_datetime')) \
    .withColumn('DiffInHours', col('DiffInSeconds')/3600) \
    .sort('DiffInSeconds', ascending=False) \
    .show(truncate=False)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-------------+------------------+
|dispatching_base_num|pickup_datetime    |dropoff_datetime   |PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|DiffInSeconds|DiffInHours       |
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-------------+------------------+
|B02832              |2019-10-11 18:00:00|2091-10-11 18:30:00|264         |264         |null   |B02832                |2272149000   |631152.5          |
|B02832              |2019-10-28 09:00:00|2091-10-28 09:30:00|264         |264         |null   |B02832                |2272149000   |631152.5          |
|B02416              |2019-10-31 23:46:33|2029-11-01 00:13:00|null        |null        |null   |B02416                |315620787    |87672.44083333333 |
|B00746              |2019-10-01 21:43:42|2027-10-01 21:45:23|159         |264         |null   |B00746                |252460901    |70128.02805555555 |
|B02921              |2019-10-17 14:00:00|2020-10-18 00:00:00|null        |null        |null   |B03037                |31658400     |8794.0            |
|B03110              |2019-10-26 21:26:00|2020-10-26 21:36:00|264         |264         |null   |B03110                |31623000     |8784.166666666666 |
|B03080              |2019-10-30 12:30:04|2019-12-30 13:02:08|264         |50          |null   |B02883                |5272324      |1464.5344444444445|
|B03084              |2019-10-25 07:04:57|2019-12-08 07:54:33|168         |235         |null   |B02765                |3804576      |1056.8266666666666|
|B03084              |2019-10-25 07:04:57|2019-12-08 07:21:11|168         |235         |null   |B02765                |3802574      |1056.2705555555556|
|B01452              |2019-10-01 13:47:17|2019-11-03 15:20:28|44          |214         |null   |B01452                |2856791      |793.5530555555556 |
|B01452              |2019-10-01 07:21:12|2019-11-03 08:44:21|5           |6           |null   |B01452                |2856189      |793.3858333333334 |
|B01452              |2019-10-01 13:41:00|2019-11-03 14:58:51|206         |172         |null   |B01452                |2855871      |793.2975          |
|B01452              |2019-10-01 18:43:20|2019-11-03 19:43:13|23          |5           |null   |B01452                |2854793      |792.9980555555555 |
|B01452              |2019-10-01 18:43:46|2019-11-03 19:43:04|251         |44          |null   |B01452                |2854758      |792.9883333333333 |
|B01452              |2019-10-01 07:07:09|2019-11-03 07:58:46|204         |23          |null   |B01452                |2854297      |792.8602777777778 |
|B01452              |2019-10-01 14:49:28|2019-11-03 15:38:07|214         |156         |null   |B01452                |2854119      |792.8108333333333 |
|B01452              |2019-10-01 05:36:30|2019-11-03 06:23:36|214         |84          |null   |B01452                |2854026      |792.785           |
|B00972              |2019-10-01 15:02:55|2019-11-03 15:49:05|204         |1           |null   |B00972                |2853970      |792.7694444444444 |
|B00972              |2019-10-01 06:08:01|2019-11-03 06:53:15|156         |204         |null   |B00972                |2853914      |792.7538888888889 |
|B01452              |2019-10-01 06:41:17|2019-11-03 07:26:04|44          |23          |null   |B01452                |2853887      |792.7463888888889 |
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-------------+------------------+
only showing top 20 rows

In [89]:
df_zones = spark.read \
    .option("header", "true") \
    .csv('./data/taxi+_zone_lookup.csv')

In [90]:
df_zones.show(truncate=False)

+----------+-------------+-----------------------+------------+
|LocationID|Borough      |Zone                   |service_zone|
+----------+-------------+-----------------------+------------+
|1         |EWR          |Newark Airport         |EWR         |
|2         |Queens       |Jamaica Bay            |Boro Zone   |
|3         |Bronx        |Allerton/Pelham Gardens|Boro Zone   |
|4         |Manhattan    |Alphabet City          |Yellow Zone |
|5         |Staten Island|Arden Heights          |Boro Zone   |
|6         |Staten Island|Arrochar/Fort Wadsworth|Boro Zone   |
|7         |Queens       |Astoria                |Boro Zone   |
|8         |Queens       |Astoria Park           |Boro Zone   |
|9         |Queens       |Auburndale             |Boro Zone   |
|10        |Queens       |Baisley Park           |Boro Zone   |
|11        |Brooklyn     |Bath Beach             |Boro Zone   |
|12        |Manhattan    |Battery Park           |Yellow Zone |
|13        |Manhattan    |Battery Park City      |Yellow Zone |
|14        |Brooklyn     |Bay Ridge              |Boro Zone   |
|15        |Queens       |Bay Terrace/Fort Totten|Boro Zone   |
|16        |Queens       |Bayside                |Boro Zone   |
|17        |Brooklyn     |Bedford                |Boro Zone   |
|18        |Bronx        |Bedford Park           |Boro Zone   |
|19        |Queens       |Bellerose              |Boro Zone   |
|20        |Bronx        |Belmont                |Boro Zone   |
+----------+-------------+-----------------------+------------+
only showing top 20 rows

In [91]:
df_zones.createOrReplaceTempView("zones")

In [103]:
spark.sql("""
SELECT
    zones.LocationID,
    zones.Zone,
    COUNT(1) AS total_trips
FROM
    trips_data
INNER JOIN zones
    ON trips_data.PULocationID = zones.LocationID
GROUP BY zones.LocationID,
    zones.Zone
ORDER BY total_trips
""").show()

+----------+--------------------+-----------+
|LocationID|                Zone|total_trips|
+----------+--------------------+-----------+
|         2|         Jamaica Bay|          1|
|       105|Governor's Island...|          2|
|       111| Green-Wood Cemetery|          5|
|        30|       Broad Channel|          8|
|       120|     Highbridge Park|         14|
|        12|        Battery Park|         15|
|       207|Saint Michaels Ce...|         23|
|        27|Breezy Point/Fort...|         25|
|       154|Marine Park/Floyd...|         26|
|         8|        Astoria Park|         29|
|       128|    Inwood Hill Park|         39|
|       253|       Willets Point|         47|
|        96|Forest Park/Highl...|         53|
|        34|  Brooklyn Navy Yard|         57|
|        59|        Crotona Park|         62|
|        58|        Country Club|         77|
|        99|     Freshkills Park|         89|
|       190|       Prospect Park|         98|
|        54|     Columbia Street|        105|
|       217|  South Williamsburg|        110|
+----------+--------------------+-----------+
only showing top 20 rows